body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.admin-dashboard label{
  font-size: 1.7rem;
  font-weight: 500;
}

.admin-dashboard h3{
  font-size: 1.3rem;
  border: none;
}

.admin-dashboard .profitloss{
  font-weight: 600;
}